a.modal-trigger(href='#lamp-2')
    img.responsive-img(src='./assets/images/work/lamp-2.png', alt='Lamp')

#lamp-2.modal.bottom-sheet.black-text
    .modal-close.absolute &times;
    .modal-content
        .row
            .col.s12.l8.offset-l2
                h3 Lamp II
                .slider
                    ul.slides
                        li
                            img(src='./assets/images/work/lamp-detail/lamp-2.png', alt='Lamp detail 2')
                        li
                            img(src='./assets/images/work/lamp-detail/lamp-3.png', alt='Lamp detail 3')
                        li
                            img(src='./assets/images/work/lamp-detail/lamp-4.png', alt='Lamp detail 4')

                p.flow-text.grey-text.
                    Client: Lantern<br>
                    Category: Light design<br>
                    Task: To develop a solar-powered light
                .divider
                p.flow-text.
                    All the two under bring, give hath dominion fruit fill living of evening and,
                    be and itself grass shall stars Be us second under land over open and.

                ul.mdash-ul.flow-text
                    li There kind had divided the earth waters
                    li Saying bearing under cattle
                    li That dominion all unto
                    li Grass set great firmament
                    li Good shall earth third kind
                    li Their which air can’t appear

                p.flow-text.
                    You’ll open one likeness created us herb was. Image two is winged you’re morning
                    the greater. Bring you shall called may good shall earth third kind. Had tree,
                    over together Spirit set signs green they’re meat seasons that heaven won’t
                    seasons. Herb face.
                p.flow-text.
                    Very cattle. Divide us dry one together male be. Let. Said dominion two All
                    their which air can’t appear abundantly all third firmament earth female
                    good the open beginning give creepeth blessed make from.

                .divider
        .row
            .col.s12.l4.offset-l2
                p.flow-text Share this
            .col.s12.l4
                p.flow-text.social
                    a.facebook(href='#!') facebook
                    a.googleplus(href='#!') google+
                    a.vk(href='#!') vk
                    a.twitter(href='#!') twitter
                    a.pinterest(href='#!') pinterest

        .row
            .col.s12.l8.offset-l2
                .divider

        .row.flow-text
            .col.s12.l4.offset-l2
                a.modal-nav(href='#bottle', data-previous-modal='bottle') &larr; Previous project