a.modal-trigger(href='#vase')
    img.responsive-img(src='./assets/images/work/vase.png', alt='The vase')

// Featured project modal
#vase.modal.bottom-sheet.black.white-text.dark-modal
    .modal-close.absolute &times;
    .modal-content
        .row
            .col.s12.l8.offset-l2
                h3 Vase

                img.responsive-img(src='./assets/images/work/vase-black.jpg', alt='Black Vase detail')

                p.flow-text.grey-text.
                    Client: Sense<br>
                    Category: Material design<br>
                    Task: To design an ultra modern vase
                .divider
                .case-content
                    p.flow-text.
                        All the two under bring, give hath dominion fruit fill living of evening and,
                        be and itself grass shall stars Be us second under land over open and.
                    p.flow-text.
                        There kind had divided the earth waters creature saying bearing under cattle
                        divide saw creepeth. Night. Grass set great firmament dominion, there open were
                        night fourth grass you’re heaven, that dominion all unto. Is all shall open in
                        you very. Deep divide behold.
                    blockquote.
                        Grass set great firmament dominion, there open were night fourth grass.
                    p.flow-text.
                        You’ll open one likeness created us herb was. Image two is winged you’re morning
                        the greater. Bring you shall called may good shall earth third kind. Had tree,
                        over together Spirit set signs green they’re meat seasons that heaven won’t
                        seasons. Herb face.

                    table.highlight.responsive-table.flow-text
                        thead
                            tr
                                th(data-field='id') Id
                                th(data-field='name') Name
                                th(data-field='amount') Amount
                        tbody
                            tr
                                td #45–223
                                td Spirit
                                td 10
                            tr
                                td #11–122
                                td Creepeth
                                td 12
                            tr
                                td #12–199
                                td Firmament
                                td 8

                    p.flow-text.
                        Very cattle. Divide us dry one together male be. Let. Said dominion two All
                        their which air can’t appear abundantly all third firmament earth female
                        good the open beginning give creepeth blessed make from.
                .divider
        .row
            .col.s12.l4.offset-l2
                p.flow-text Share this
            .col.s12.l4
                p.flow-text.social
                    a.facebook(href='#!') facebook
                    a.googleplus(href='#!') google+
                    a.vk(href='#!') vk
                    a.twitter(href='#!') twitter
                    a.pinterest(href='#!') pinterest

        .row
            .col.s12.l8.offset-l2
                .divider

        .row
            .col.s12.l4.offset-l6.flow-text
                a.modal-nav(href='#colorful-ice-cream', data-next-modal='colorful-ice-cream') Next project &rarr;