a.row.journal-entry.modal-trigger.flow-text(href='#new-bike')
    .col.s12.l3: time(datetime='2016-08-08T21:00') 08/08/2016
    .col.s12.l3 Pete’s new bike
    .col.s12.l3 Pete
    .col.s12.l3 #bycicle #Pete

#new-bike.modal.bottom-sheet.black-text
    .modal-close.absolute &times;
    .modal-content
        .row
            .col.s12.l8.offset-l2
                time.grey-text(datetime='2016-08-08T21:00') 08/08/2016
                h3 Pete’s new bike
                .slider
                    ul.slides
                        li
                            img(src='./assets/images/blog/bicycle.jpg', alt='Bicycle')
                        li
                            img(src='./assets/images/blog/bicycle-detail/bicycle-detail-1.jpeg', alt='Bicycle 2')
                        li
                            img(src='./assets/images/blog/bicycle-detail/bicycle-detail-2.jpg', alt='Bicycle 3')

                p.flow-text.grey-text
                    | Author: Pete
                    br
                    | Tags: #bycicle #Pete
                .divider
                p.flow-text.
                    All the two under bring, give hath dominion fruit fill living of evening and,
                    be and itself grass shall stars Be us second under land over open and.
                p.flow-text.
                    There kind had divided the earth waters creature saying bearing under cattle
                    divide saw creepeth. Night. Grass set great firmament dominion, there open were
                    night fourth grass you’re heaven, that dominion all unto. Is all shall open in
                    you very. Deep divide behold.
                blockquote.floating-blockquote.right.center-align.
                    “Said dominion two all their which air can’t appear earth female abundantly.”
                p.flow-text.
                    You’ll open one likeness created us herb was. Image two is winged you’re morning
                    the greater. Bring you shall called may good shall earth third kind. Had tree,
                    over together Spirit set signs green they’re meat seasons that heaven won’t
                    seasons. Herb face.
                p.flow-text.
                    Very cattle. Divide us dry one together male be. Let. Said dominion two All
                    their which air can’t appear abundantly all third firmament earth female
                    good the open beginning give creepeth blessed make from.
                .divider
        .row
            .col.s12.l4.offset-l2
                p.flow-text Share this
            .col.s12.l4
                p.flow-text.social
                    a.facebook(href='#!') facebook
                    a.googleplus(href='#!') google+
                    a.vk(href='#!') vk
                    a.twitter(href='#!') twitter
                    a.pinterest(href='#!') pinterest

        .row
            .col.s12.l8.offset-l2
                .divider

        .row.flow-text
            .col.s12.l4.offset-l2.margin-on-medium-and-down
                a.modal-nav(href='#the-mountain', data-previous-modal='the-mountain') &larr; Previous post
            .col.s12.l4
                a.modal-nav(href='#new-office', data-next-modal='new-office') Next post &rarr;