.container.about#about
    section#technology.philosophy.scrollspy
        .row
            .col.s12
                h2 Technology
        .row.philosophy.big-icons-row
            .col.s12
                ul.tabs
                    li.tab.col.s4.m3.l2
                        a(href='#philosophy-1')
                            h5 Azure
                            span.philosophy-number 1
                    li.tab.col.s4.m3.l2
                        a(href='#philosophy-2')
                            h5 Node.js
                            span.philosophy-number 2
                    li.tab.col.s4.m3.l2
                        a(href='#philosophy-3')
                            h5 DocumentDB
                            span.philosophy-number 3
                    li.tab.col.s4.m3.l2
                        a(href='#philosophy-4')
                            h5 Azure Search
                            span.philosophy-number 4
                    li.tab.col.s4.m3.l2
                        a(href='#philosophy-5')
                            h5 Bot Framework
                            span.philosophy-number 5

            .tab-contents
                #philosophy-1.col.s12
                    h5 Azure
                    p.flow-text.
                        An open, flexible, enterprise-grade cloud computing platform. Neona uses Azure Functions to process events with a serverless code architecture. These functions are responsible for extracting data from Wikipedia, processing it into the desired form, and storing it in DocumentDB.
                #philosophy-2.col.s12
                    h5 Node
                    p.flow-text.
                        An event-driven I/O server-side JavaScript environment. The Azure Functions were written in Node.js. It was used to call the MediaWiki action API, a web service that provides convenient access to wiki features, data, and meta-data over HTTP. Using Node.js’ request module (and JavaScript Promises), the API is called with very carefully constructed queries to return just the data Neona would need.
                #philosophy-3.col.s12
                    h5 DocumentDB
                    p.flow-text.
                        A distributed database service for managing JSON documents at Internet scale. It is a highly-flexible key-value store that integrates closely with other Microsoft systems. It is Neona's knowledge-base.
                #philosophy-4.col.s12
                    h5 Azure Search
                    p.flow-text.
                        A fully managed search-as-a-service in the cloud. It indexes the contents of the knowledge-base and provides an HTTP endpoint Neona can hit to query the knowledge-base. It natively supports DocumentDB.
                #philosophy-5.col.s12
                    h5 Microsoft Bot Framework
                    p.flow-text.
                        This framework provided an impressive amount of functionality and was the inspiration for this project. For Neona, it provides the connection to the various channels, manages incoming and outgoing messages, and helps orchestrate the dialogue flow. It also integrates naturally with LUIS, a fast and effective way of adding language understanding to applications.
        .row
            .col.s12
                a(href='http://blog.paulprae.com/neona-a-conversational-agent-that-teaches-ai-2/' class='flow-text' target='_blank') Learn More

    section#ai.philosophy.scrollspy
        .row
            .col.s12
                h2 Artificial Intelligence Concepts
        .row.philosophy.big-icons-row
            .col.s12
                ul.tabs
                    li.tab.col.s4.m3.l2
                        a(href='#AI-concept-1')
                            h5 Semantic Network
                            span.philosophy-number 1
                    li.tab.col.s4.m3.l2
                        a(href='#AI-concept-2')
                            h5 Classification
                            span.philosophy-number 2
                    li.tab.col.s4.m3.l2
                        a(href='#AI-concept-3')
                            h5 Case-based Reasoning
                            span.philosophy-number 3

            .tab-contents
                #AI-concept-1.col.s12
                    h5 Semantic Network
                    p.flow-text.
                        A semantic network is a network that represents meaningful relationships between concepts. This is how Neona represents knowledge. We call her semantic network a knowledge-base (KB). The current KB consists of AI concepts. In the future, the KB will also consist of users that interact with the agent, courses from online programs, and jobs from career websites.
                #AI-concept-2.col.s12
                    h5 NoClassificationde
                    p.flow-text.
                        Classification is the problem of identifying to which of a set of categories a new observation belongs. If you chat with Neona enough, you will notice that certain words are strongly associated with certain types of responses. That is because she has found those words to be features that predict those responses.
                #AI-concept-3.col.s12
                    h5 Case-based Reasoning
                    p.flow-text.
                        Case-based reasoning is the process of solving new problems based on the solutions of similar past problems. Neona uses AI concepts other people have defined on Wikipedia as responses. These AI concepts are indexed, retrieved, and ranked by Azure Search. The keyword matching and ranking decide what concepts she displays.
        .row
            .col.s12
                a(href='http://blog.paulprae.com/neona-a-conversational-agent-that-teaches-ai-2/' class='flow-text' target='_blank') Learn More

    section#team.team.scrollspy
        .row
            .col.s12
                h2 Team
        .row
            .col.s12.m6.l3.margin-on-medium-and-down
                img.responsive-img.triangle-clip(src='./assets/images/team/paul-prae.jpeg', alt='Paul Prae')
                .name.flow-text 
                    a(href='http://paulprae.com' target='_blank') Paul Prae
                .title Creator, Cloud Architect
            .col.s12.m6.l3.margin-on-medium-and-down
                img.responsive-img.pentagon-clip(src='./assets/images/team/thomas-bailey.jpg', alt='Thomas Bailey')
                .name.flow-text Thomas Bailey
                .title Computational Linguist
            .col.s12.m6.l3.margin-on-medium-and-down
                img.responsive-img.heptagon-clip(src='./assets/images/team/austin.jpg', alt='Austin New')
                .name.flow-text Austin New
                .title Lead Developer
            .col.s12.m6.l3.margin-on-medium-and-down
                img.responsive-img.rabbet-clip(src='./assets/images/team/dylan.png', alt='Dylan Martin')
                .name.flow-text Dylan Martin
                .title Full-Stack Developer
            .col.s12.m6.l3.margin-on-medium-and-down
                img.responsive-img.x-clip(src='./assets/images/team/david.jpg', alt='David Prae')
                .name.flow-text David Prae
                .title Front-End Developer




