.container#faq.scrollspy
    section.faq
        .row
            .col.s12
                h2 FAQ
        .row
            .col.s12
                ul.collapsible.flow-text(data-collapsible='accordion')
                    li
                        .collapsible-header.active.
                            — What's next for Neona?
                        .collapsible-body
                            p.
                                In the future, she will be used by students to find courses and jobs in the field of AI. From the perspective of universities and employers, she will also be used as a teaching assistant and a recruiting tool.