.container
    .row
        .col.s12.l6.offset-l6.flow-text.intro
            | We create
            a(href='#work') digital solutions
            | &nbsp;that work brilliantly, deliver fantastic user experience and look lovely too.
            a(href='#contact') Talk to us
            | &nbsp;about solving your online challenges.