.container
    .row.intro
        .col.s12.m6.flow-text
            img.responsive-img(src='./assets/images/neona/neona-flat.png', srcset='./assets/images/neona/neona-flat@2x.png 2x')
        .col.s12.m6.flow-text
            h1 Meet Neona, a chatbot for learning AI
            p By interacting with her, you can explore concepts from across the field of artificial intelligence. By studying her design and architecture, you can learn how to build conversational agents.
            // a(href='#contact') Send her a message
            // | &nbsp;if you'd like her creators to create something similar for you.