.container
    .row
        .col.s12.l6.flow-text.intro
            img.responsive-img(src='./assets/images/neona/neona-transparent.png', srcset='./assets/images/neona/neona-transparent@2x.png 2x')
        .col.s12.l6.flow-text.intro
            h1 Meet Neona, a chat bot
            | Neona is a chat bot that helps people understand artificial intelligence. People interacting with her will learn about the topics students of AI study.
            // a(href='#contact') Send her a message
            // | &nbsp;if you'd like her creators to create something similar for you.