.container
    .row
        .col.s12.l6.offset-l6.flow-text.intro
            | Neona is a chat bot that helps people understand artificial intelligence. People interacting with her will learn about the topics students of AI study.
            a(href='#contact') Send her a message
            | &nbsp;if you'd like her creators to create something similar for you.