.container
    .row
        .col.s12.l6.offset-l6.flow-text.intro
            | Neona helps people understand the purpose and value of interactive intelligence and cognitive computing. She can teach concepts, find online courses, share recent news, and find jobs in this exciting subfield of artificial intelligence.
            a(href='#contact') Reach out
            | &nbsp;if you'd like her creators to create something similar for you.