section.journal#journal.scrollspy
    .container
        .row
            .col.s12
                h2 Our thoughts
        .journal-entries
            include ../posts/the-mountain

            include ../posts/new-bike

            include ../posts/new-office

            include ../posts/monster-beats