.container#prices.scrollspy
    section.prices
        .row
            .col.s12
                h2 Pricing
        .row
            .col.s12.l4.margin-on-medium-and-down
                .price-box
                    h4 Beginner
                    h5
                        sup $
                        | 19
                    .divider
                    ul.flow-text
                        li 5 users
                            span.info.tooltipped(data-position='right', data-delay='50', data-tooltip='The number of allowed users') ?
                        li Optimisation
                        li Caching
                        li Automation
                            span.info.tooltipped(data-position='top', data-delay='50', data-tooltip='Involves Gulp commands') ?
                        li Validation
                        li Linting
                        li &times;
                        li &times;
                    a.btn-large.btn-flat.waves-effect.waves-dark.white.black-text Buy
            .col.s12.l4.margin-on-medium-and-down
                .price-box.featured
                    h4 Professional
                    h5
                        sup $
                        | 49
                    .divider
                    ul.flow-text
                        li 10 users
                            span.info.tooltipped(data-position='top', data-delay='50', data-tooltip='The number of allowed users') ?
                        li Optimisation
                        li Caching
                        li Automation
                            span.info.tooltipped(data-position='top', data-delay='50', data-tooltip='Involves Gulp commands') ?
                        li Validation
                        li Linting
                        li Templating
                            span.info.tooltipped(data-position='top', data-delay='50', data-tooltip='Includes Jade templates engine') ?
                        li &times;
                    a.btn-large.btn-flat.waves-effect.waves-dark.white.black-text Buy
            .col.s12.l4
                .price-box
                    h4 Enterprise
                    h5
                        sup $
                        | 199
                    .divider
                    ul.flow-text
                        li 25 users
                            span.info.tooltipped(data-position='top', data-delay='50', data-tooltip='The number of allowed users') ?
                        li Optimisation
                        li Caching
                        li Automation
                            span.info.tooltipped(data-position='top', data-delay='50', data-tooltip='Involves Gulp commands') ?
                        li Validation
                        li Linting
                        li Templating
                            span.info.tooltipped(data-position='top', data-delay='50', data-tooltip='Includes Jade templates engine') ?
                        li Preprocessors
                            span.info.tooltipped(data-position='top', data-delay='50', data-tooltip='This is for Jade, Sass and CoffeeScript') ?
                    a.btn-large.btn-flat.waves-effect.waves-dark.white.black-text Buy

    section.faq
        .row
            .col.s12
                h2 FAQ
        .row
            .col.s12
                ul.collapsible.flow-text(data-collapsible='accordion')
                    li
                        .collapsible-header.active.
                            — Is the starter pack really free?
                        .collapsible-body
                            p.
                                A cattle she’d creepeth. That light make. Void two they’re, can’t us don’t creepeth. Fruitful there
                                herb from signs she’d created whales them. Lights which face. Divided they’re first. Dry wherein
                                own itself green it.
                    li
                        .collapsible-header.
                            — What is your return policy?
                        .collapsible-body
                            p.
                                May years spirit of grass shall. Form also seas had that very was lesser creature void. Fill under
                                she’d own is light stars isn’t moved you’re.
                    li
                        .collapsible-header.
                            — Can I quit my subscription at any time?
                        .collapsible-body
                            p.
                                There he meat forth days in. Fruit dry every morning Beast that saw. Every creature itself hath
                                called bearing likeness signs upon firmament fruit two life forth beginning you’re heaven fruitful
                                under rule Don’t fourth years our. Kind itself days.
                    li
                        .collapsible-header.
                            — Can I upgrade my plan?
                        .collapsible-body
                            p.
                                Aliquam Maecenas consectetuer nisl cum inceptos. Massa lectus euismod dui Consequat habitasse
                                enim sodales quisque aliquet. Semper condimentum id, hendrerit sodales mi nam netus dictumst
                                platea. Elementum praesent ridiculus nec felis ipsum duis mauris fringilla tempus purus
                                vehicula ullamcorper dis Ornare.