section.projects#work.scrollspy
    .container
        .row
            .col.s12
                h2 Selected works
        .row
            .col.s12.l6.margin-on-medium-and-down
                include ../projects/vase

            .col.s12.l6
                include ../projects/colorful-ice-cream
        .row
            .col.s12.l6.margin-on-medium-and-down
                include ../projects/bottle

            .col.s12.l6
                include ../projects/lamp-2