.container.about#about
    section#technology.philosophy.scrollspy
        .row
            .col.s12
                h2 Learning Resources
        .row.philosophy.big-icons-row
            .col.s12
                ul.tabs
                    li.tab.col.s4.m3.l2
                        a(href='#blog-posts')
                            h5 Blog Posts
                            span.philosophy-number 1
                    li.tab.col.s4.m3.l2
                        a(href='#resources')
                            h5 Presentations
                            span.philosophy-number 2

            .tab-contents.dark
                #blog-posts.col.s12
                  h5 Blog Posts
                  article.blog-post-container
                    h6 
                      a(href='http://blog.paulprae.com/conversational-ui-best-practices/') Conversational UI Best Practices
                    footer
                      p Date: 19 October 2017
                      p Author: Thomas Bailey
                  article.blog-post-container
                    h6 
                      a(href="http://blog.paulprae.com/neona-a-conversational-agent-that-teaches-ai-2/") Neona: A Conversational Agent That Teaches AI
                    footer
                      p Date: 15 January 2017
                      p Author: Paul Prae

                #resources.col.s12
                    h5 Presentations
                    article.blog-post-container
                      .row
                        .col.s12.m6.offset-m6
                          h6 
                            a(href='https://www.slideshare.net/PaulPrae/azure-as-a-chatbot-service-from-purpose-to-production-with-a-cloud-bot-architecture?ref=https://www.slideshare.net/PaulPrae/slideshelf') Azure as a Chatbot Service: From Purpose To Production With A Cloud Bot Architecture
                            img(src="./assets/images/presentations/cloud-bot-architecture-branded.PNG", alt="screenshot of architecture slide")

    