section.services#services.scrollspy
    .container
        .row
            .col.s12
                h2 Channels
        .service-items
            .row
                .col.s12.l6
                    div.icon-web.icon
                    span.flow-text Web — 
                        a(href='webchat.html' target='_blank') demo available now!
                .col.s12.l6.margin-on-medium-and-down
                    div.icon-skype.icon
                    span.flow-text Skype — 
                        a(href='https://join.skype.com/bot/cf47b4bb-0644-406b-98dc-2e6661a0c3b3?add' target='_blank') demo available now!
            .row
                .col.s12.l6.margin-on-medium-and-down
                    div.icon-slack.icon
                    span.flow-text Slack — 
                        a(href='https://slack.com/oauth/v2/authorize?scope=channels%3ahistory%2cchannels%3aread%2cchat%3awrite%2cdnd%3aread%2cemoji%3aread%2cfiles%3aread%2cfiles%3awrite%2cgroups%3ahistory%2cgroups%3aread%2cim%3ahistory%2cim%3aread%2cim%3awrite%2cmpim%3ahistory%2cmpim%3aread%2cmpim%3awrite%2cpins%3aread%2cpins%3awrite%2creactions%3aread%2creactions%3awrite%2cteam%3aread%2cusergroups%3aread%2cusers%3aread%2cusers%3awrite%2cusers%3aread.email&client_id=961563614419.1684960441157&redirect_uri=https%3a%2f%2fslack.botframework.com%2fHome%2fauth%2fv2&state=futurisma' target='_blank') demo available now!
                .col.s12.l6
                    div.icon-facebook.icon
                    span.flow-text Facebook Messenger — coming soon!
                //- .col.s12.l6
                //-     div.icon-facebook.icon
                //-     span.flow-text Facebook Messenger —
                //-         a(href='https://www.facebook.com/neonabot/' target='_blank') demo available now!