section.services#services.scrollspy
    .container
        .row
            .col.s12
                h2 Channels
        .service-items
            .row
                .col.s12.l6.margin-on-medium-and-down
                    i.icon-basic-cloud
                    span.flow-text Skype — 
                        a(href='https://join.skype.com/bot/cf47b4bb-0644-406b-98dc-2e6661a0c3b3?add') demo available now!
                .col.s12.l6
                    i.icon-basic-cloud
                    span.flow-text Facebook Messenger — coming soon.
            .row
                .col.s12.l6.margin-on-medium-and-down
                    i.icon-basic-cloud
                    span.flow-text Slack — coming soon.
                .col.s12.l6
                    i.icon-basic-cloud
                    span.flow-text Web — coming soon.