section.services#services.scrollspy
    .container
        .row
            .col.s12
                h2 Channels
        .service-items
            .row
                .col.s12.l6.margin-on-medium-and-down
                    i.icon-basic-cloud
                    span.flow-text Skype (in development)
                .col.s12.l6
                    i.icon-basic-cloud
                    span.flow-text Facebook Messenger (coming soon!)
            .row
                .col.s12.l6.margin-on-medium-and-down
                    i.icon-basic-cloud
                    span.flow-text Slack (coming soon!)
                .col.s12.l6
                    i.icon-basic-cloud
                    span.flow-text Web (coming soon!)