section.services#services.scrollspy
    .container
        .row
            .col.s12
                h2 Channels
        .service-items
            .row
                .col.s12.l6.margin-on-medium-and-down
                    div.icon-skype.icon
                    span.flow-text Skype — 
                        a(href='https://join.skype.com/bot/cf47b4bb-0644-406b-98dc-2e6661a0c3b3?add' target='_blank') demo available now!
                .col.s12.l6
                    div.icon-facebook.icon
                    span.flow-text Facebook Messenger — 
                        a(href='https://www.facebook.com/neonabot/' target='_blank') demo available now!
            .row
                .col.s12.l6.margin-on-medium-and-down
                    div.icon-slack.icon
                    span.flow-text Slack — coming soon.
                .col.s12.l6
                    div.icon-web.icon
                    span.flow-text Web — 
                        a(href='http://neona.chat/webchat.html' target='_blank') demo available now!