section.services#services.scrollspy
    .container
        .row
            .col.s12
                h2 Our expertise
        .service-items
            .row
                .col.s12.l6.margin-on-medium-and-down
                    i.icon-basic-cloud
                    span.flow-text Cloud solutions
                .col.s12.l6
                    i.icon-basic-accelerator
                    span.flow-text Performance optimizations
            .row
                .col.s12.l6.margin-on-medium-and-down
                    i.icon-basic-target
                    span.flow-text Targeted clients
                .col.s12.l6
                    i.icon-ecommerce-graph-increase
                    span.flow-text Sales analysis
            .row
                .col.s12.l6.margin-on-medium-and-down
                    i.icon-basic-battery-charge
                    span.flow-text Sustainable energy
                .col.s12.l6
                    i.icon-basic-heart
                    span.flow-text A lot of passion