doctype html
html(lang='en')

    head
        meta(charset='utf-8')

        // Making sure the web-site will scale fine on mobiles
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        // Trying to force IE to perform at its best
        meta(http-equiv='x-ua-compatible', content='ie=edge')

        // Meta description, aim for about 150 characters
        meta(name='description', content='This theme is a very beautiful and minimalistic theme with a gorgeous animation that will make the user remember your website and want to come back.')

        // Stylesheets
        link(rel='stylesheet', href='./libs/pace/themes/white/pace-theme-flash.css')
        link(rel='stylesheet', href='./libs/materialize/css/materialize.min.css?v=master')
        link(rel='stylesheet', href='./assets/css/linea.min.css')
        link(rel='stylesheet', href='./assets/css/moderat.min.css?v=5')

        // Favicons
        link(rel='apple-touch-icon', sizes='180x180', href='./favicons/apple-touch-icon.png')
        link(rel='icon', type='image/png', href='./favicons/favicon-32x32.png', sizes='32x32')
        link(rel='icon', type='image/png', href='./favicons/favicon-16x16.png', sizes='16x16')
        link(rel='manifest', href='./favicons/manifest.json')
        link(rel='mask-icon', href='./favicons/safari-pinned-tab.svg')
        link(rel='shortcut icon', href='favicon.ico')
        meta(name='msapplication-config', content='./favicons/browserconfig.xml')
        meta(name='theme-color', content='#ffffff')

        // Site title
        block title
            title Moderat

    block vars

    body(class='#{themeName}' class='#{additionalBodyClass}')
        canvas.spiral-buffer(id='spiral-buffer-#{themeName}')

        main
            // Navigation
            include layout/_nav

            // Intro
            include sections/_intro

            // Services
            include sections/_services

            // Projects
            include sections/_projects

            // Prices
            include sections/_prices

            // About
            include sections/_about

            // Journal
            include sections/_journal

            // Contact
            include sections/_contact

            // Footer
            include layout/_footer

        // Libraries
        script(src='./libs/pace/pace.js', data-pace-options='{"eventLag": false}')
        script(src='./libs/jquery/jquery.min.js')
        script(src='./libs/lodash/lodash.min.js')
        script(src='./libs/materialize/js/materialize.min.js?v=master')

        // Oona scripts
        block skin-script
        script(src='./assets/js/config.js')
        script(src='./assets/js/moderat.js')