extends base

block title
    title Moderat — Ethereal

block vars
    - var themeName = 'ethereal'
    - var additionalBodyClass = 'dark'

block skin-script
    script(src='./assets/js/spiral-buffer-ethereal.js')