extends base

block title
    title Moderat — Mark

block vars
    - var themeName = 'mark'
    - var additionalBodyClass = 'dark'

block skin-script
    script(src='./assets/js/spiral-buffer-mark.js')