extends base

block title
    title Moderat — Selektor

block vars
    - var themeName = 'selektor'
    - var additionalBodyClass = 'dark'

block skin-script
    script(src='./assets/js/spiral-buffer-selektor.js')