extends base

block title
    title Neona

block vars
    - var themeName = 'mark'
    - var additionalBodyClass = 'dark'

block skin-script
    script(src='./assets/js/spiral-buffer-mark.js')
    script(src='./assets/js/spiral-buffer-header.js')

block main
    include layout/_simple_nav
    iframe(class='chatbot-iframe', width='800', height='800', style="margin:0 auto; max-width: 100%; display:block" frameborder='no', src='https://webchat.botframework.com/embed/futurisma?s=i-X-jeMNxMQ.cwA.Bwk.Heuwk83mHvUSWAkZakc1uO8xrwM2C5iFkcP-AtJhM4Q')
