.navbar-fixed
    nav
        .nav-wrapper
            .container
                .row
                    .col.s12.l6
                        // Brand or logo
                        a.brand(href='#!') Neona

                        // Menu button visible on tablet and mobile
                        span.right.show-on-medium-and-down.hide-on-large-only
                            a#sidenav-toggle.sidenav-toggle(href='#', data-activates='slide-out') Menu

                    .col.s12.l6
                        // Desktop menu version
                        ul.hidden.hide-on-med-and-down.table-of-contents
                            li: a(href='#services') Channels
                            li: a(href='#technology') Technology
                            li: a(href='#ai') AI Concepts
                            li: a(href='#team') Team
                            li: a(href='#faq') FAQ
                            li: a(href='#contact') Contact

                        // Tablet and mobile menu
                        ul#slide-out.side-nav
                            li: a(href='#services') Channels
                            li: a(href='#technology') Technology
                            li: a(href='#ai') AI Concepts
                            li: a(href='#team') Team
                            li: a(href='#faq') FAQ
                            li: a(href='#contact') Contact
    canvas.spiral-buffer-header(id='spiral-buffer-header')