.navbar-fixed
    nav
        .nav-wrapper
            .container
                .row
                    .col.s12.l6
                        // Brand or logo
                        a.brand(href='#!') Neona
    canvas.spiral-buffer-header(id='spiral-buffer-header')